<mat-toolbar color="primary" class="top-nav-fixed mat-elevation-z5">
    <button mat-button class="menu-button" (click)="sidenavToggle.emit(null)">
        <mat-icon style="cursor: pointer">menu</mat-icon>
    </button>
    <div class="title">{{ title }}</div>
    <div class="spacer"></div>
    <div class="links" *ngIf="!mobileViewport">
        <i
            *ngFor="let item of menuItems"
            (click)="redirect(item.link)"
            style="cursor: pointer"
        ></i>
    </div>
</mat-toolbar>