.container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-areas: '. content .';
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
}