.container {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas: '. content .';
}

.content {
    grid-area: content;
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));*/
}
